/* *,*::after, *::before {
    margin: 0px;
    padding: 0;
    box-sizing: inherit;
    height: 100%;
}

:root {
    --base-public-padding-half: 1.5rem;
    --base-public-padding: 3.0rem;
    --base-public-width: calc(100vw - var(--base-public-padding)*2);
    --base-public-height: calc(100vh - var(--base-public-padding)*2);
    --base-public-width-half: calc((var(--base-public-width)/2) - (var(--base-public-padding)/2));
    --base-public-height-half: calc(var(--base-public-height)/2);
    --base-public-height-quater: calc(var(--base-public-height)/3);
}

html {
    overflow: unset;
    height: 100% !important;
}

body {
    box-sizing: border-box;
    padding:var(--base-public-padding);
    height: 100% !important;
}

.public {
    width: var(--base-public-width); 
    height: var(--base-public-height);
    padding: var(--base-public-padding-half);
    border: 1px solid white;
    border-image: 
    linear-gradient( 
      rgba(0, 0, 0, 0),
      rgb(179, 179, 179),
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

.public-header{


}

.public-section-left {
    height: calc(var(--base-public-height) - var(--base-public-padding));
    max-width: var(--base-public-width-half); 
    min-width: var(--base-public-width-half);
}

.public-nav {
    position: relative;
}

.side-nav {
    color: white;
    display: block;
}

.custom-block {
    display: block;
}

.side-nav:hover {
    color: rgb(155, 154, 154);
}

.selected:hover {
    color: white;
}

.side-nav.selected {
    color: rgb(66, 66, 66);
    text-decoration: underline;
    border: none;
}

.is-pullued-bottom-right {
    position: absolute;
    right: var(--base-public-padding);
    bottom: var(--base-public-padding);
    padding-bottom: calc(var(--base-public-padding)/2);
    padding-right: calc(var(--base-public-padding)/2);
}

.public-section-right {
    max-width: var(--base-public-width-half); 
    min-width: var(--base-public-width-half);
    height: calc(var(--base-public-height) - var(--base-public-padding));
    overflow-y: auto;
    border-left: 1px white solid;
    text-align: end;
    place-content: end;
    border-image: 
    linear-gradient( 
      rgba(0, 0, 0, 0),
      rgb(179, 179, 179),
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: none;
}

*::-webkit-scrollbar
{
	width: 2px;
	background-color: none;
}

*::-webkit-scrollbar-thumb
{
	background-color: white;
	border: none;
}

.public-footer
{
    position: absolute;
    display: flex;
    flex-direction: row;
    float: right;
    height: 100vh;
    top: 0%;
    left: .50rem;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: calc(var(--base-public-padding));
}

.public-links{
    display: flex;
    flex-direction: column;
}

.public-links > .link:hover{
    color: rgb(131, 131, 131);
}

.public-links > a {
    color: white;
}

.link {
    padding-top: .5rem;
}

.public-links > a:visited {
    color: none;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
    :root {
        --base-public-padding-half: 1.5rem;
        --base-public-padding: 3.0rem;
        --base-public-width: calc(100vw - var(--base-public-padding)*2);
        --base-public-height: calc(100vh - var(--base-public-padding)*2);
        --base-public-width-half: calc((var(--base-public-width)/2) - (var(--base-public-padding)/2));
        --base-public-height-half: calc(var(--base-public-height)/2);
        --base-public-height-quater: calc(var(--base-public-height)/3);
    }
 }

@media all and (min-width: 768px) and (max-width: 1024px) {
    :root {
        --base-public-padding-half: 1rem;
        --base-public-padding: 2.0rem;
        --base-public-width: calc(100vw - var(--base-public-padding)*2);
        --base-public-height: calc(100vh - var(--base-public-padding)*2);
        --base-public-width-half: calc((var(--base-public-width)/2) - (var(--base-public-padding)/2));
        --base-public-height-half: calc(var(--base-public-height)/2);
        --base-public-height-quater: calc(var(--base-public-height)/3);
    }
 }

@media all and (min-width: 480px) and (max-width: 768px) {
    :root {
        --base-public-padding-half: 0.50rem;
        --base-public-padding: 1.0rem;
        --base-public-width: calc(100vw - var(--base-public-padding)*2);
        --base-public-height: calc(100vh - var(--base-public-padding)*2);
        --base-public-width-half: calc((var(--base-public-width)/2) - (var(--base-public-padding)/2));
        --base-public-height-half: calc(var(--base-public-height)/2);
        --base-public-height-quater: calc(var(--base-public-height)/3);
    }
 }

@media all and (max-width: 480px) {
    :root {
        --base-public-padding-half: 0.25rem;
        --base-public-padding: 0.5rem;
        --base-public-width: calc(100vw - var(--base-public-padding)*2);
        --base-public-height: calc(100vh - var(--base-public-padding)*2);
        --base-public-width-half: calc((var(--base-public-width)/2) - (var(--base-public-padding)/2));
        --base-public-height-half: calc(var(--base-public-height)/2);
        --base-public-height-quater: calc(var(--base-public-height)/3);
    } 

    .public-section-left {
        height: calc(var(--base-public-height-half) - var(--base-public-padding));
        max-width: var(--base-public-width); 
        min-width: var(--base-public-width);        
    }

    .public-section-right {
        max-width: var(--base-public-width); 
        min-width: var(--base-public-width);
        height: calc(var(--base-public-height-half) - var(--base-public-padding));
        overflow-y: auto;
        text-align: end;
        place-content: end;
        border-top: 1px white solid;
        border-image: none;
    }

    .public { 
        border-image: none;
    }
    
    .public-footer {
        align-items: center;
    }

    .public-links {
        flex-direction: row;
    }

    .link {
        padding-right: .3rem;
        padding-top: 0;
        padding-bottom: .5rem;
    }

    .public-footer > .public-links > .link:nth-child(1) {
        padding-left: .5rem;
    }

    .public-nav {
        z-index: 100;
    }
 } */


 /* html, body {
    height: 100%;
    margin: 0;
}

.container {
    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: border-box;
} */

*,
*::after,
*::before {
    background-color: red;
}